* {
  margin: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;

  background: url("../images/background.webp");
  background-color: #121214;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

body {
  --black: hsl(240, 6%, 13%);
  --grey: #f1f1f1;

  display: grid;
  place-items: center;
}

.atropos-rotate {
  width: 358px;
  height: 540px;
  margin-top: -20px;
}

main {
  background-image: url("../images/badge.png");
  width: 22.375rem;
  height: 33.75rem;
  border-radius: 1rem;

  transform-style: preserve-3d;
  transform: translateZ(0);

  border-radius: 1rem;
  background-color: rgba(126, 126, 126, 0.212);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.411);
  /* z-index: 0; */

  margin-top: -340px;
}

.atropos-rotate {
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--grey);
}

body span {
  margin-top: -100px;
  z-index: 100;
}

body span:nth-child(2) {
  margin-top: -330px;
  z-index: 100;
}

.container .avatar {
  padding-top: 75px;
}

.avatar {
  width: 10rem;
  margin: 0 auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: 150px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 3rem;
}

ul {
  margin-top: 2rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
